
<div class="container mt-4" >
  <div class="card-group ">
    <div class="card gryffindor">
      <a href=""><img class="rounded mx-auto d-block img-thumbnail" src="../../assets/img/gryff.png" alt="griff"></a>
      <div class="card-block">
        <h4 class="card-title">Gryffindor</h4>
        <p class="card-text">Número de personas en la casa si señor</p>

      </div>
    </div>
    <div class="card slytherin">
      <a href=""><img class="rounded mx-auto d-block img-thumbnail" src="../../assets/img/slyth.png" alt="slyth"></a>
      <div class="card-block">
        <h4 class="card-title">Slytherin</h4>
        <p class="card-text">Número de personas en la casa si señor</p>

      </div>
    </div>

  </div>
  <div class="card-group">
    <div class="card hufflepuff">
      <a href=""><img class="rounded mx-auto d-block img-thumbnail" src="../../assets/img/huff.png" alt="huff"></a>
      <div class="card-block">
        <h4 class="card-title">Hufflepuff</h4>
        <p class="card-text">Número de personas en la casa si señor</p>

      </div>
    </div>
    <div class="card ravenclaw">
      <a href=""><img class="rounded mx-auto d-block img-thumbnail" src=".../../assets/img/raven.png" alt="raven"></a>
      <div class="card-block">
        <h4 class="card-title">Ravenclaw</h4>
        <p class="card-text">Número de personas en la casa si señor</p>

      </div>
    </div>
  </div>

</div>
