<div class="container col-8">
  <div class="card-deck-wrapper">
    <div class="card-group">
      <div class="col-6" *ngFor="let house of houses">
      <div class="card {{house.name}} card-icon{{house.name}}" >
        <div class="card-body mx-auto">
          <a (click)="moveHouse(house.name)" class="btn stretched-link"></a>
          <img class="rounded mx-auto d-block img-thumbnail img" src="../../assets/img/{{house.name}}_2.png"
            alt="{{house.name}}">          
          <h1 class="card-title text-center">{{house.name}}</h1>
          <h4 class="card-text text-center">Número de integrantes: {{house.count}}</h4>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>